<div class="page" data-name="home">
  <div class="page-content">
    <div class="game-title">LDA Logo Quizz</div>
    <div class="game-sub-title">
      <p>#LaDalleAngevine</p>
    </div>

    <a href="/start/">
        <img class="border-radius-round width-80 icone" src="../assets/logo.png" alt="Icone MusicQuizz">
    </a>
  </div>
</div>