<div class="page" id="page" data-name="play">
  <div class="navbar">
    <div class="navbar-bg"></div>

    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back color-white"></i>
        </a>
      </div>
      <div class="title">LDA Logo Quizz</div>
    </div>
  </div>
  
  <div class="content-block">
    <p class="choose">Devinez le sport</p>
    <div class="block-title"></div>
      <div class="content">
        <div class="swiper-pagination"></div>
        <div class="logo-container">
          
      </div>
  </div>

  <div class="content-block answer-container">


  </div>
 </div>


<script>
  import {Page, Navbar, Block, BlockTitle, Row, Col, BlockHeader} from 'framework7-svelte';



</script>
