<div class="page" data-name="play">
  <div class="navbar ">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
            <i class="icon icon-back color-black"></i>
        </a>
    </div>
      <div class="title">LDA Logo Quizz</div>
    </div>
  </div>
  <div class="page-content">
    <p class="choose">Choisissez un niveau</p>
    <div class='level__selection row'/>
    
  </div>
</div>
