/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #FF585D;
  --f7-theme-color-rgb: 0, 122, 255;
  --f7-theme-color-shade: #FF585D;
  --f7-theme-color-tint: #FF585D;
  
}

/* Invert navigation bars to fill style */
:root,
:root.theme-dark,
:root .theme-dark {
  --f7-bars-bg-color: var(--f7-theme-color);
  --f7-bars-bg-color-rgb: var(--f7-theme-color-rgb);
  --f7-bars-translucent-opacity: 0.9;
  --f7-bars-text-color: #fff;
  --f7-bars-link-color: #fff;
  --f7-navbar-subtitle-text-color: rgba(255,255,255,0.85);
  --f7-bars-border-color: transparent;
  --f7-tabbar-link-active-color: #fff;
  --f7-tabbar-link-inactive-color: rgba(255,255,255,0.54);
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: #fff;
  
}
.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-link-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255,255,255,0.1);
}
.navbar-large-transparent,
.navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #000;

  --r: 0;
  --g: 122;
  --b: 255;
  --progress: var(--f7-navbar-large-collapse-progress);
  --f7-bars-link-color: rgb(
    calc(var(--r) + (255 - var(--r)) * var(--progress)),
    calc(var(--g) + (255 - var(--g)) * var(--progress)),
    calc(var(--b) + (255 - var(--b)) * var(--progress))
  );
}
.theme-dark .navbar-large-transparent,
.theme-dark .navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #fff;
}

/* Your app custom styles here */

.margin-top-60{
  margin-top: 60px;
}

.margin-60{
  margin: 10vw;
}

@font-face {
  font-family: balsamiq;
  src: url(../fonts/BalsamiqSans-Regular.ttf);
}

@font-face {
  font-family: sunny-spell;
  src: url(../fonts/SunnyspellsRegular-MV9ze.otf);
}

.game-title{
  font-family: sunny-spell;
  font-size: 22vw;
  text-align: center;
  color: whitesmoke;
  margin-top: 10vw;
}

.game-sub-title{
  font-family: balsamiq;
  font-size: 6vw;
  text-align: center;
}

.question{
  font-size: 3vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-top: 60px;
}

.Row{
  border: red 2px solid;
  background-color: rgba(255, 132, 132, 0.705);
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2vh;
}

.plain{
  width: 100%;
  height: 100%;
}

.width-80{
  width: 80%;
  margin: 10%;
}

.border-radius-10{
  border-radius: 10px;
  margin-bottom: 10px;
}

.border-radius-round{
  border-radius: 100%;
}

.icone{
  box-shadow: 0px 10px 20000px 50px #FF585D;
  margin-bottom: 10vw;
}

.level__selection{
  margin: 0 5%;
}

.level-icon{
  background-color: #ff585e70;
  border: #FF585D solid 1vw;
  border-radius: 25px;
  text-align: center;
  margin-top: 30px;
  justify-content: space-around;
  height: 25vw;
}

.level{
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.navbar-inner{
  background-color: black;
  font-family: balsamiq;
  font-size: 5vh;
  padding-top: 10px;
  margin: auto;
}

.choose{
  text-align: center;
  margin: 5vw;
  margin-top: 15vw;
  font-size: 3vh;
}

.timer{
  margin: 0 40%;
  text-align: center;
  font-size: 10vh;
  color: white;
}

.score{
  font-size: 10vh;
  font-family: balsamiq;
  text-align: center;
}

.messageend{
  font-size: 7vh;
  text-align: center;
}

.returnMenu{
  border-radius: 10px;
  border: white solid 1px;
  padding: 20px;
  font-size: 3vh;
}

.answer-container{
  width: 100%;
  max-height: 75%;
  display:flex;
  flex-wrap: wrap;
  
}

.page{
  height: 100%;
  overflow-x: scroll;
}

.page-content{
  overflow: initial !important;
}


.content .box .logo{
  font-size: 25px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.content .box {
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 30px;
  width: 90%;
  height: 300px;
  margin: 0 5%;
  background-color: rgb(27, 27, 27);
}

.content .logo {
  margin: 15px auto;
  font-size: 18px;
  max-height: 220px;
  max-width: 85%;
}

.group{
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: end;
  position: relative;
  bottom: 10px;
  left: 15%;
}

.answer-user{
  background-color: rgb(118, 118, 118) !important;
  border: red 1px solid !important;
  border-radius: 30px !important;
  width: 200px;
  height: 30px;
  margin-right: 15px;
}

.answer-validate{
  height: 30px;
  width: 30px;
  margin-left: 15px;
}

.validated{
  position: relative;
  width: 50%;
  margin-bottom: -50%;
  margin-left:25%;
}

.done{
  position: absolute;
  width: 50%;
  top: 400%;
  left: 25%;
}

.level-done{
  width: 10%;
  position: absolute;
  margin-top: -7%;
  margin-left: -3%;
}